@model List<CrudDapperMvc.Model.User>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <style>
        .user-list {
            max-height: 300px; /* Defina a altura máxima desejada */
            overflow-y: auto; /* Habilita a rolagem vertical */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Criando Novos Usuarios</h2>

        <form id="userForm" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Name">Nome:</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="Login">Login:</label>
                <input type="text" class="form-control" id="Login" name="Login" placeholder="Enter login">
            </div>
            <div class="form-group">
                <label for="Password">Senha:</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <hr>

        <h2>Lista De Usuarios</h2>

        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
            </div>
        </div>

        <div class="user-list">
            <table id="userTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Senha</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Login</td>
                            <td>@user.Password</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="User Actions">
                                    <a asp-action="Edit" asp-route-id="@user.UserId" class="btn btn-primary">Editar</a>
                                    <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-danger">Excluir</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <table id="tblArquivo" class="tab-right">
                <tr>
                    <td width="60%"></td>
                    <td>
                        <div class="input-group right-addon form-inline">
                            <button type="button" class="btn btn-primary btn-sm bg-black" @ViewBag.AcaoControleImporta onclick="location.href='@Url.Action("Contrato", "Servico", new { processo = "I", contrato = 0 })'">Importar Planilha</button>&nbsp;
                            <input type="text" id="filtroContrato" name="filtroContrato" placeholder="Filtrar..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();

            $('#userForm').submit(function (event) {
                event.preventDefault(); // Previne a submissão padrão do formulário

                var formData = {
                    Name: $("#Name").val(),
                    Login: $("#Login").val(),
                    Password: $("#Password").val(),
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                };

                $.post("/User/Create", formData)
                    .done(function (data) {
                        // Em caso de sucesso, recarrega a página para atualizar a lista de usuários
                        window.location.reload();
                    })
                    .fail(function (xhr, status, error) {
                        // Em caso de falha, registra o erro no console
                        console.error(xhr.responseText);
                    });
            });

            $('#searchButton').click(function () {
                var searchTerm = $('#searchInput').val().toLowerCase();
                $('#userTable tbody tr').hide();
                $('#userTable tbody tr').each(function () {
                    var name = $(this).find('td:eq(0)').text().toLowerCase(); // Índice 0 corresponde à coluna "Nome"
                    if (name.includes(searchTerm)) {
                        $(this).show();
                    }
                });
            });
        });
    </script>
</body>
</html>
